<div class="col-sm-8 col-sm-offset-2">

    <form [formGroup]="postForm" (ngSubmit)="onSavePost()">
      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" id="title" class="form-control" formControlName="title">
      </div>
      <div class="form-group">
        <label for="content">Message</label>
        <input type="text" id="content" class="form-control" formControlName="content">
      </div>
      <div class="form-group">
          <label for="loveIts">loveIts</label>
          <input type="text" id="loveIts" class="form-control" formControlName="loveIts">
        </div> 
      <hr>
      <button type="submit" class="btn btn-primary" [disabled]="postForm.invalid">Soumettre</button>
    </form>
    
  </div>